$background: #191819;
$border: 1px dashed var(--light-text-color);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
  font-family: "Quantico", sans-serif;
}

audio {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $background;

  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-photo {
  display: flex;
  align-items: center;

  .song-label {
    color: var(--light-text-color);
    animation: fire 1s ease-in-out 0s infinite alternate;
    border-bottom: 2px dashed transparent;
    transition: all 0.1s ease-in-out;
    will-change: contents;

    &:hover {
      border-bottom: $border;
    }
  }

  svg {
    margin: 0 10px 0 20px;

    animation: fire 1s ease-in-out 0s infinite alternate;

    path {
      fill: var(--light-text-color);
    }
  }
}

.content {
  margin: auto;
  width: 100%;
  max-width: 850px;

  padding: 2rem;

  p {
    max-width: 450px;
    color: var(--light-text-color);
  }
  img {
    border-radius: 50%;
    border: $border;
  }
}

.header-text {
  margin: 2rem 0 0 0;
  max-width: 450px;
  color: var(--text-color);
}

.main-text {
  color: var(--title-color);
}

.footer-text {
  margin-top: 0.5rem;
  color: var(--text-color);
}

.social-links {
  padding-top: 2rem;

  display: flex;
  flex-wrap: wrap;

  * {
    color: var(--text-color);
    text-align: center;
    margin-right: 16px;
    margin-bottom: 4px;

    transition: all 0.2s ease-in-out;

    border-bottom: 2px dashed transparent;
    &:hover {
      border-bottom: $border;
    }
  }
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;

  z-index: -2;

  width: 100%;
  height: 100%;
}

#fire {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 50%;
  max-height: 400px;

  animation: fire 5s ease-in-out 0s infinite alternate;

  opacity: 0.8;
}

@keyframes fire {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: $background;
  transition: all 1.5s ease-in-out;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
